$('#pjax-container').html('<%= escape_javascript(render :partial => "right") %>');
document.title = "<%= escape_javascript("#{@gallery.name}") %>";
$('#hidden_field').html('<input id="gallery_id" name="gallery_id" type="hidden" value="' + $('#sortable').data('gallery_id') + '">');
$('#new_image').fileupload('enable');
resize();

// THUMBNAIL GALLERY SORTABLE CODE

  $('#sortable').multisortable({
    placeholder: "mh-placeholder",
    helper: 'clone',
    appendTo: '#content',
    scrollSensitivity:70,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    distance: 5,
    start: function(event, ui) {
      dropped_on_menu = false;
      ui.placeholder.height(120);
      ui.placeholder.width(120);
      var foo = $('<span id="thumb-num" class="badge badge-important"></span>');
      foo.html($('.selected:not(:hidden)').length);
      foo.css ({
        position:'absolute',
        right:'10px',
        bottom:'10px'
      });
      ui.helper.find('div').css({
        opacity:.6
      });
      ui.helper.append(foo);
      //$('#sortable').find('li:hidden').show();
      //$('#sortable').find('li.selected.ui-sortable-helper').show();
    },
    stop: function(event, ui) {
      $('#sortable').find('li.selected').show();
      $('#sortable').find('li.selected div').css({
        opacity:1
      });
      $('#thumb-num').remove();
      if(dropped_on_menu == false) {
        console.log('sort-images')
        $.ajax({
          type: 'POST',
          traditional: true,
          url: $('#sortable').data('update-url'),
          data: {
           images: $('#sortable').sortable('serialize'), 
           gallery_id: $('#sortable').data('gallery_id')
          }
        });       
      } else {
        $('#sortable').sortable('cancel');
        dropped_on_menu == false;
      }
      appended = false  
    }
  });

  // SLIDING PANEL CODE

  $('#caret').toggle(function(){
    $('.left-panel').css({ left:-220 });
    $('#caret .icon').removeClass('caret-left').addClass('caret-right');
    resize();
  }, function(){
    $('#caret .icon').removeClass('caret-right').addClass('caret-left');
    $('.left-panel').css({ left:0 });
    resize();
  });

  // Click off thumbnail to deselect

  $('.content').on("click", function(event){
    if (event.target.nodeName != 'IMG') {
      $('.thumb_grid li').removeClass('selected');
    }
  });

   