<div class="container">
	<div class="center hero-unit">

		<%= image_tag('home.jpg') %>		
		<h1>Welcome to Portfolio App</h1>

		<h2>
			A sample application for uploading multiple images using Rails, jQuery, S3, etc.
		</h2>

		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
</div>