<h1><%= @gallery.name %></h1>

<div class="right-inner">
	<ul id="sortable" class="thumb_grid">
		<% @gallery.images.each do |image| %>
		<li id="image_<%= image.id %>" class="drop_allowed"><div class="thumbnail"><%= image_tag image.image_file_url(:thumb).to_s %></div></li>
		<% end %>
	</ul>
</div>