/**************** SHARED ********************/

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif, "Bitstream Vera Sans";
    /*background: url(../images/site/fullpage-background-image.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    // background:url(../images/tile.png);
}

.container {
    position:relative;
    width:100%;
    height:100%;
}

#floater {
    width: 1px;
    height: 50%;
    margin-bottom: -312px;
    float: left;
}

/**************** FIXED-TOP CSS ********************/

#wrapper.fixed-top {
    position: relative;
    background: #fff;
    width:960px;    /*layout_general.width*/
    // height:583px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

#wrapper.fixed-top #background {
    position: relative;
}

#wrapper.fixed-top #site {
    position: relative;
    width:960px;    /*layout_general.width*/
}

#wrapper.fixed-top #header {
    background: #fff;
    z-index: 2;
    position:relative;
    // width:960px;    /*layout_general.width*/
    // height:40px;
}

#wrapper.fixed-top #navigation {
    background: #fff;
    z-index: 3;
    position:relative;
    width:960px;    /*layout_general.width*/
    height:30px;
    // top:40px;
}

#wrapper.fixed-top #footer {
    position:absolute;
    width:960px;    /*layout_general.width*/
    height:23px;
    top:560px;
    background: #fff;
    z-index: 4;
}

#footer-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#wrapper.fixed-top #content {
    background: #fff;
    overflow-y: auto;
    z-index: 1;
    position:relative;
    width:960px;    /*layout_general.width*/
    height:490px;
    // top:70px;
}

/**************** FIXED-LEFT CSS ********************/

#wrapper.fixed-left {
    position: relative;
    background: #fff;
    width:960px;    /*layout_general.width*/
    height:583px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

#wrapper.fixed-left #background {
    position: relative;
}

#wrapper.fixed-left #site {
    position: relative;
    width:960px;    /*layout_general.width*/
}

#wrapper.fixed-left #header{
    background: #fff;
    z-index: 2;
    position: relative;
    width:960px;    /*layout_general.width*/
    height:40px;
}

#wrapper.fixed-left #navigation {
    background: #fff;
    z-index: 3;
    float:left;
    width:125px;
    height:520px;
    // top:40px;
}

#wrapper.fixed-left #footer{
    position:absolute;
    width:960px;    /*layout_general.width*/
    height:23px;
    top:560px;
    background: #fff;
    z-index: 4;
}

#footer-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#wrapper.fixed-left #content{
    background: #fff;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    width:735px;
    height:520px;
    top:60px;
    left:125px;
}

/**************** FULL-TOP CSS ********************/

#wrapper.full-top {
    position:absolute;
    background: #fff;
    min-width:960px;    /*layout_general.width*/
    min-height:580px;
    height: auto !important;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: block;
}

#wrapper.full-top #background {
    position: relative;
}

#wrapper.full-top #site {

}

#wrapper.full-top #header {
    background: #fff;
    z-index: 2;
    width:100%;
    height:40px;
}

#wrapper.full-top #navigation {
    background: #fff;
    z-index: 3;
    position:absolute;
    width:100%;
    height:30px;
}

#wrapper.full-top #footer {
    width:100%;
    height:23px;
    position:absolute;
    bottom:0;
    background: #fff;
    z-index: 4;
}

#footer-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#wrapper.full-top #content {
    background: #fff;
    overflow-y: auto;
    z-index: 1;
    width:100%;
    position: absolute;
    top: 70px; /* combined height header + nav */
    left: 0;
    right: 0;
    bottom: 23px;
}


/**************** FULL-LEFT CSS ********************/

#wrapper.full-left {
    position:absolute;
    background: #fff;
    min-width:960px;    /*layout_general.width*/
    min-height:560px;
    height: auto !important;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: block;
}

#wrapper.full-left #background{
    position: relative;
}

#wrapper.full-left #site{
    position:absolute;
    display: block;
    bottom:0;
    top:0;
    left:0;
    right:0;
    height: auto !important;
}

#wrapper.full-left #header {
    background: #fff;
    z-index: 2;
    width:100%;
    height:40px;
}

#wrapper.full-left #navigation {
    background: #fff;
    z-index: 3;
    position:absolute;
    width:125px;
    position:absolute;
    top:40px;
    left:0;
    bottom:23px;
}

#wrapper.full-left #footer{
    width:100%;
    height:23px;
    position:absolute;
    bottom:0;
    background: #fff;
    z-index: 4;
}

#wrapper.full-left #footer-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#wrapper.full-left #content{
    background: #fff;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    top: 40px; /* combined height header  */
    left: 125px;
    right: 0;
    bottom: 23px;
}

/**************** MOBILE CSS ********************/

// #wrapper.mobile {
//     position:absolute;
//     background: #fff;
//     width:100%;
//     height: 100%;
//     min-height:0;
//     min-width:0;
//     padding-top:0;
//     padding-bottom:0;
//     padding-left:0;
//     padding-right:0;
//     margin-top: 0;
//     margin-bottom: 0;
//     margin-left: 0;
//     margin-right: 0;
//     top:0;
//     left:0;
//     right:0;
//     bottom:0;
//     display: block;
// }

// #background.mobile {
//     position: relative;
// }

// #site.mobile {
//     position:absolute;
//     display: block;
//     bottom:0;
//     top:0;
//     left:0;
//     right:0;
//     width:100%;
//     height:100%

// }

// #header.mobile {
//     position:absolute;
//     width:0;
//     height:0;
// }

// #navigation.mobile {

//     position:absolute;
//     width:0;
//     height:0;
// }

// #footer.mobile {
//     position:absolute;
//     width:0;
//     height:0;

// }

// #footer-right {
//     position: absolute;
//     right: 0px;
//     bottom: 0px;
// }

// #content.mobile {
//     width:100%;
//     height:100%;
//     background: #fff;
//     overflow-y: auto;
//     z-index: 1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

/**************** HORIZONTAL NAVIGATION ********************/

#navigation.horizontal {
    height: 30px;
}

.clear {
    clear: both
}

/* remove the list style */
#navigation.horizontal .navigation_list {
    position:relative;
    /*margin: 0;
    width: 100%;*/      /* ISSUES WITH CENTER VS LEFT VS RIGHT ALIGNMENT  */
    padding: 0;
    list-style: none;
    // width: 632px;
    margin: 0 auto;
}



/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#navigation.horizontal .navigation_list li {
    float: left;
    display: block;
    /*background:#ccc;*/
    position: relative;
    z-index: 500;
    margin: 0;
}

/* this is the parent menu */
#navigation.horizontal .navigation_list li a {
    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    padding: 0 20px 0 0;
    height: auto;
    text-decoration: none;
    text-align: left;
    color: #333;
}

#navigation.horizontal .navigation_list li a:hover {
    color: red;
}

/* you can make a different style for default selected value */
#navigation.horizontal .navigation_list a.selected {
    color: red;
}

/* submenu, it's hidden by default */
#navigation.horizontal .navigation_list ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    white-space: nowrap;
}

#navigation.horizontal .navigation_list ul li {
    float: left;
    width: auto;
}

#navigation.horizontal .navigation_list li ul li {
    float: none;
    display: block;
    background: #fff;
    z-index: 500;
    margin: 0;
}

/* display block will make the link fill the whole area of LI */
#navigation.horizontal .navigation_list ul a {
    height: auto;
    padding: 8px;
    color: #666;
}

.navigation_list ul a:hover {

}

/**************** VERTICAL ********************/

#navigation.vertical {
    position:absolute;
    text-align: left;
}

#navigation.vertical ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

#navigation.vertical ul li {
    padding: 0;
}

#navigation.vertical ul li a {
    display:block;
    text-align: left;
    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: blue;
}

#navigation.vertical ul li ul {

    display:none;
}

#navigation.vertical ul li ul li {
    padding-left: 8px;
    display:block;
    text-align: left;
    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: darkgray;
}

#navigation.vertical .navigation_list li a:hover {
    color: red;
}

#navigation.vertical a.selected {
    color: red;
}

/**************** ELEMENTS ********************/

.page {
	position:relative;
}

.element {
	position:absolute;
}

.image-holder {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

.text-container {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

.image-container {
	position:absolute;
	top:0;
	left:0;
}

.image-container img {
	max-width: 100%;
	position:absolute;
}