<div class="navbar secondary-navbar links">

		<ul class="nav">
			<li class=""><%= link_to 'Template', admin_site_template_path(@site)%></li>
			<li class=""><%= link_to 'Header', admin_site_header_path(@site) %></li>
			<li class=""><%= link_to 'Footer' %></li>
			<li class=""><%= link_to 'Mobile' %></li>
		</ul>

</div>