<div class="navbar secondary-navbar links">

		<ul class="nav">
			<li class=""><%= link_to 'Template' %></li>
			<li class=""><%= link_to 'Header' %></li>
			<li class=""><%= link_to 'Footer' %></li>
			<li class=""><%= link_to 'Mobile' %></li>
		</ul>

</div>