
	<div class="navbar secondary-navbar links">

			<ul class="nav">
				<li class=""><%= link_to 'Site Settings' %></li>
				<li class=""><%= link_to 'Search Engine' %></li>
				<li class=""><%= link_to 'Analytics' %></li>
				<li class=""><%= link_to 'Social' %></li>
			</ul>

	</div>
