<div id="navigation">
  <div class="container">
    <ul class="navigation_list">
      <% @nav_items.includes(:navable).each do |nav_item| %>
        <% unless nav_item.parent %>
          <% if nav_item.navable.class.name == "Folder" %>
            <li class="dropdown">
              <%= link_to "#{nav_item.navable.name}<b class='caret'></b>".html_safe, '#', class: "dropdown-toggle", 'data-toggle' => 'dropdown' %>
              <% if nav_item.children %>
                <ul class='dropdown-menu'>
                  <% nav_item.children.each do |subnav_item| %>
                    <li><%= sitelink(@site,subnav_item.navable) %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
           <% else %>
           <li><%= sitelink(@site,nav_item.navable) %></li>
           <% end %>
        <% end %>
      <% end %>    
    </ul>
  </div>
</div>