<div class="invisible_input">
<%= form_for [:admin, @site, @image] do |f|%>
  <%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
  	<div id="hidden_field"></div>
<% end %>
</div>