<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div id="content" class="content">

	<%= render 'left_menu' %>

	<div id="right-panel" class="right-panel">
	  <%= render 'gallery'%> 
  </div>

</div>
